<!DOCTYPE html>
<html>
  <head>
   
    <title>BABALOLA PRECIOUS DATA VIsUALIZATION PROJECT (18CJ024111)</title>


    <link rel="stylesheet" href="style.css">
   
  
  </head>
  <body >
      <h1>EMPLOYMENT TO POPULATION RATIO BY BABALOLA PRECIOUS-18CJ024111</h1>

    <div class="cell">
        
        <P class="main-text">
              Definition: Employment to population ratio is the proportion of a country's population that is employed. Employment is defined as persons of working age who, during a short reference period, were engaged in any activity to produce goods or provide services for pay or profit, whether at work during the reference period (i.e. who worked in a job for at least one hour) or not at work due to temporary absence from a job, or to working-time arrangements. Ages 15-24 are generally considered the youth population.

              
              <i>Source: International Labour Organization, ILOSTAT database. Data retrieved in September 2019.</i>
        </P>
        <h2> 
           
        THE BAR PLOTS DISPLAYS THE COMBINED STATISTICS OF THE FEMALE TO MALE BIRTH RATIO FROM 1998 TO 2006
         </h2>
<br/><br/>
        <img style="margin-left: 100px;" src="../static/ETR BARCHART 2001-2003.png" width="90%" >
        <img style="margin-left: 100px;" src="../static/ETR BARCHART 2004-2006.png" width="90%" >
        <img style="margin-left: 100px;" src="../static/ETR BARCHART.png" width="90%" >

     </div>


     
 <div  class="cell">
        <p class="main-text">
            The line graphs show below the different measures of dispersion(as indicated by the legend),
            for the observation values in the bar plots above the first plot being the Mean,followed by the, Median, Variance, Standard 
            Deviation, Range, Semi Inter Quartile Aand, Inter Quartile Range.
         </p>
<br/><br/>
      <img style="margin-left: 100px;" src="../static/INTER QUARTILE RANGE.png" width="90%" >
<br/><br/>
       <img style="margin-left: 100px;" src="../static/MEAN.png" width="90%" >
<br/><br/>
       <img style="margin-left: 100px;" src="../static/RANGE.png" width="90%" >
<br/><br/>
       <img style="margin-left: 100px;" src="../static/MEDIAN.png" width="90%" >
<br/><br/>
       <img style="margin-left: 100px;" src="../static/SEMI-INTER-QUARTILE.png" width="90%" >
<br/><br/>
        <img style="margin-left: 100px;" src="../static/STANDARD DEV.png" width="90%" >
<br/><br/>
        <img style="margin-left: 100px;" src="../static/VARIANCE.png" width="90%" >
<br/><br/>
      </div>
    
  </body>
</html>
